<html class="ext-strict x-viewport" lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>{%block title %}JukeCloud{% endblock %}</title>
        {%block metas %}
            {{ include('TabernicolaJukeCloudBundle:Blocks:_metas.html.twig')}}
        {% endblock %}

        {% block styles %}
            {{ include('TabernicolaJukeCloudBundle:Blocks:_css.html.twig')}}
        {% endblock %}
    </head>
    <body>
        <!--CONTROLS-->
        {%block controls %}
            <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="container-fluid">
                    {{ include('TabernicolaJukeCloudBundle:Blocks:_controls.html.twig')}}
                </div> 
            </div>    
        {% endblock %}

        <div class="container-fluid">
            <div id="main-panel" class="row">
                <!--nav (left column)--> 
                {%block nav %}
                    <div id="left-panel" class="col-sm-3 col-md-3 sidebar panel">   
                        {{ include('TabernicolaJukeCloudBundle:Blocks:_nav.html.twig')}}
                    </div>
                {% endblock %}

                <!--BROWSER (central column -->
                {%block browser %}
                    <div id="center-panel" class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 main panel sidebar">
                        {{ include('TabernicolaJukeCloudBundle:Blocks:_browser.html.twig')}}
                    </div>
                {% endblock %}

                <!--Playlist cover lirycs (right column)-->
                {%block playlist %}
                    <div id="right-panel" class="col-sm-3 col-sm-offset-9 panel col-md-3 col-md-offset-9 sidebar">    
                        {{ include('TabernicolaJukeCloudBundle:Blocks:_playlist.html.twig')}}
                    </div>
                {% endblock %}
            </div>
        </div>

        {{ include('TabernicolaJukeCloudBundle:Blocks:_upload.html.twig')}}
        
        {% block javascript %}
            {{ include('TabernicolaJukeCloudBundle:Blocks:_js.html.twig')}}
        {% endblock %}
    </body>
</html>